/* =============================================================================
 * mod_portfoliolist_v5
 * ========================================================================== */

.mod_portfoliolist_v5 {
	margin: 5px;
}

.mod_portfoliolist_v5 .item {
	overflow: hidden;
}

.mod_portfoliolist_v5.portfolio-col2 .item {
	width: calc(100% / 2);
}

.mod_portfoliolist_v5.portfolio-col3 .item {
	width: calc(100% / 3);
}

.mod_portfoliolist_v5.portfolio-col4 .item {
	width: calc(100% / 4);
}

.mod_portfoliolist_v5.portfolio-col2 .item.wide {
	width: 100%;
}

.mod_portfoliolist_v5.portfolio-col3 .item.wide {
	width: calc(100% / 3  * 2);
}

.mod_portfoliolist_v5.portfolio-col4 .item.wide {
	width: calc(100% / 2);
}

.mod_portfoliolist_v5 .item.tall {
	height: 500px;
}

.mod_portfoliolist_v5 .item {
	height: 300px;
	border: 5px solid rgba(0, 0, 0, 0);
}

.mod_portfoliolist_v5.height-m .item {
	height: 300px;
}

.mod_portfoliolist_v5.height-m .item.tall {
	height: 600px;
}

.mod_portfoliolist_v5.height-l .item {
	height: 400px;
}

.mod_portfoliolist_v5.height-l .item.tall {
	height: 800px;
}

.mod_portfoliolist_v5 .item a {
	color: #fff;
	height: 100%;
	width: 100%;
	display: block;
}

.mod_portfoliolist_v5 .item .image {
	background-position: center center;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.mod_portfoliolist_v5 .item .image:after {
	content: '';
	width: 100%;
	height: 100%;
	display: block;
	background: rgba(0,0,0,0.8);
	opacity: 0;
	transition: opacity 0.3s ease;
	-webkit-transition: opacity 0.3s ease;
}

.mod_portfoliolist_v5 .item:hover .image:after {
	opacity: 1;
}

.mod_portfoliolist_v5 .item .info {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 25px;
}

.mod_portfoliolist_v5 .item .info .title {
	font-weight: bold;
	color: rgb(255,255,255);
	margin-left: -100%;
	opacity: 0;
	margin-bottom: 0;
	transition: All 0.2s ease;
	-webkit-transition: All 0.2s ease;
}

.mod_portfoliolist_v5 .item .info .subline {
	color: rgb(255,255,255);
	margin-left: -100%;
	opacity: 0;
	transition: All 0.1s ease;
	-webkit-transition: All 0.1s ease;
}

.mod_portfoliolist_v5 .item:hover .info .title,
.mod_portfoliolist_v5 .item:hover .info .subline {
	margin-left: 0;
	opacity: 1;
}

/* =============================================================================
* smart phones  (s / small screens)
* ========================================================================== */
@media only screen and (max-width: 767px) {
	.mod_portfoliolist_v5 .item {
		width: 100%!important;
		height: 350px!important;
	}

	.mod_portfoliolist_v5 {
		margin: 0;
	}
	
	.mod_portfoliolist_v5 .item {
		border: 0;
		margin-bottom: 5px;
	}
}



