/* =============================================================================
 * mod_portfoliolist helper class
 * ========================================================================== */

.mod_portfoliolist .item.hidden {
	display: none;
}

/* =============================================================================
 * mod_portfoliolist v1
 * ========================================================================== */

.mod_portfoliolist .item {
	overflow: hidden;
}

.mod_portfoliolist.portfolio-col2 .item {
	width: calc(100% / 2);
}

.mod_portfoliolist.portfolio-col3 .item {
	width: calc(100% / 3);
}

.mod_portfoliolist.portfolio-col4 .item {
	width: calc(100% / 4);
}

.mod_portfoliolist .item .image_container a {
	display: block;
}

.mod_portfoliolist .item a,
.mod_portfoliolist:not(.portfolio-v2) .item .title {
	color: rgb(255,255,255);
}

.mod_portfoliolist .item .title {
	margin-bottom: 7px;
	font-weight: bold;
}

.mod_portfoliolist .item .subline {
	background-color: var(--accentColor);
	padding: 1px 15px;
	border-radius: 20px;
	color: rgb(255,255,255);
	line-height: 1.7;
	display: inline-block;
	text-transform: uppercase;
	font-size: 0.9rem;
}

.mod_portfoliolist .item .info {
	position: absolute;
	z-index: 10;
	left: 20px;
	top: -100%;
	transition: All 0.1s ease;
	-webkit-transition: All 0.1s ease;
}

.mod_portfoliolist .item:hover .info {
	top: 20px;
}

.mod_portfoliolist .item .overflow-layer {
	background: rgba(0,0,0,0.5);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
	opacity: 0;
	transition: opacity 0.1s ease;
	-webkit-transition: opacity 0.1s ease;
}

.mod_portfoliolist .item:hover .overflow-layer {
	opacity: 0.9;
}

.mod_portfoliolist .item .linkbar {
	overflow: hidden;
	text-align: center;
	position: absolute;
	z-index: 20;
	bottom: -56px;
	height: 0;
	left: 20px;
	transition: All 0.1s ease;
	-webkit-transition: All 0.1s ease;
	border-radius: 20px;
	display: flex;
}

.mod_portfoliolist .item:hover .linkbar {
	bottom: 25px;
	height: 45px;
}

.mod_portfoliolist .item .linkbar a {
	padding: 15px 13px;
	background: #fff;
	transition: All 0.1s ease;
	-webkit-transition: All 0.1s ease;
	opacity: 0.95;
	color: rgba(0,0,0,0.8);
}

.mod_portfoliolist .item .linkbar a:hover {
	background: #f8f8f8;
	color: var(--accentColor);
}

.mod_portfoliolist .item .linkbar a.zoom {
	border-right: 1px solid rgba(0,0,0,0.05);
}

.mod_portfoliolist .item .linkbar i {
	display: inline-block;
	font-size: 16px;
}

.mod_portfoliolist .item .image_container img {
	transition: All 0.1s ease;
	-webkit-transition: All 0.1s ease;
}

.mod_portfoliolist .item:not(.no_more_link):hover .image_container img {
	-webkit-filter: blur(3px);
	filter: blur(3px);
	transform: scale(1.1,1.1);
	-webkit-transform: scale(1.1,1.1);
}

.mod_portfoliolist.hide-linkbar .item .linkbar {
	display: none;
}

.mod_portfoliolist.hide-zoom .item .linkbar a.zoom {
	display: none;
}

.mod_portfoliolist.hide-zoom .item .linkbar a {
	width: 100%;
}

.mod_portfoliolist .swiper-slide {
	width: 33.33%;
}

.mod_portfoliolist .swiper-button-next,
.mod_portfoliolist .swiper-button-prev {
	margin-top: -35px;
}

.mod_portfoliolist.margins {
	margin-left: -10px;
	margin-right: -10px;
}

.mod_portfoliolist.margins .item {
	border: 10px solid transparent;
}

/* =============================================================================
 * mod_portfoliolist v2
 * ========================================================================== */

.mod_portfoliolist.portfolio-v2 {
	margin-left: -10px;
	margin-right: -10px;
}

.mod_portfoliolist.portfolio-v2 .item {
	border: 10px solid transparent;
	margin-bottom: 15px;
}

.mod_portfoliolist.portfolio-v2 .item .title {
	font-size: 1.1rem;
	font-weight: bold;
}

.mod_portfoliolist.portfolio-v2 .item .info {
	position: static;
	padding: 20px 0;
}

.mod_portfoliolist.portfolio-v2 .item .linkbar {
	top: -56px;
	left: 20px;
	bottom: auto;
}

.mod_portfoliolist.portfolio-v2 .item .linkbar a {
	opacity: 1;
}

.mod_portfoliolist.portfolio-v2.portfolio-col4 .item .linkbar a {
	padding: 10px;
}

.mod_portfoliolist.portfolio-v2 .item .linkbar a:hover {
	opacity: 1;
	background: rgb(255,255,255);
}

.mod_portfoliolist.portfolio-v2 .item:hover .linkbar {
	top: 20px;
}

.mod_portfoliolist.portfolio-v2 .image_container_inside {
	overflow: hidden;
	position: relative;
	border: 5px solid rgb(248,248,248);
}

.mod_portfoliolist.portfolio-v2 .item .overflow-layer {
	display: none;
}

.mod_portfoliolist.portfolio-v2:not(.hide-linkbar).item:not(.no_more_link) :hover .image_container img {
	-webkit-filter: none;
	filter: none;
	transform: translateY(20px);
	-webkit-transform: translateY(20px);
}

/* =============================================================================
 * mod_portfoliolist col1
 * ========================================================================== */

.mod_newslist .portfolio-col1.isotope {
	margin-left: 0;
	margin-right: 0;
}

.mod_portfoliolist.portfolio-col1 .portfolio-col1-inside {
	display: table;
	width: 100%;
}

.mod_portfoliolist.portfolio-col1 .item {
	border-top: 1px solid rgb(220,220,220);
	width: 100%;
}

.mod_portfoliolist.portfolio-col1 .content {
	width: 40%;
	display: table-cell;
	vertical-align: middle;
	padding: 30px;
	background: rgb(255,255,255);
}

.mod_portfoliolist.portfolio-col1 .image_container {
	width: 60%;
	display: table-cell;
	overflow: hidden;
}

.mod_portfoliolist.portfolio-col1-inside {
		display: table;
}

.mod_portfoliolist.portfolio-col1 .image_container:before {
	content: '';
	top: 50%;
	left: -10px;
	margin-top: -10px;
	-webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background: rgb(255,255,255);
    position: absolute;
    height: 20px;
    width: 20px;
     z-index: 100;
}

.mod_portfoliolist.portfolio-col1 .item a {
	color: inherit;
	position: static;
	margin: 0;
	width: auto;
	height: auto;
	text-align: left;
	background: transparent;
	box-shadow: none;
	border-radius: 0;
	overflow: hidden;
}

.mod_portfoliolist.portfolio-col1 .item:hover .image_container img {
	-webkit-filter: none;
	filter: none;
	transform: none;
	-webkit-transform: none;
}

.mod_portfoliolist.portfolio-col1 .item .content ul {
	padding-left: 25px;
	margin-top: 25px;
}

.mod_portfoliolist.portfolio-col1 .item .content ul li {
	position: relative;
	display: block;
	margin-bottom: 20px;
}

.mod_portfoliolist.portfolio-col1 .item .content ul li:before {
	font-family: FontAwesome;
	content: "\f00c";
	margin-left: -26px;
	margin-right: 10px;
	width: 26px;
}
.mod_portfoliolist.portfolio-col1 .item .content ul li:after {
	content: "";
	width: 70px;
	height: 1px;
	background: rgba(0,0,0,.08);
	position: absolute;
	left: -26px;
	bottom: -11px;
}

/* =============================================================================
* mod_portfolioteaser
* ========================================================================== */

.mod_portfoliolist.teaser .swiper-pagination {
	display: none;
 }
 
 .mod_portfoliolist.teaser .swiper-button-next,
 .mod_portfoliolist.teaser .swiper-button-prev {
	opacity: 0.7!important;
 }
 
 .mod_portfoliolist .item.portfoliolist_onepage .content {
	height: 0;
 }
 
 .mod_portfoliolist .swiper-wrapper {
	padding-bottom: 0;
 }

 /* =============================================================================
 * portfoliolist - one-page
 * ========================================================================== */

.mod_portfoliolist  .onepage_item.item a {
	position: static;
	width: auto;
	height: auto;
	background: transparent;
	border-radius: 0;
	margin: 0;
	border: 0;
	transition: none;
}

/* =============================================================================
* smart phones  (s / small screens)
* ========================================================================== */
@media only screen and (max-width: 767px) {
    .mod_portfoliolist .swiper-slide {
        width: 100%;
    }

    .mod_portfoliolist.portfolio-col2 .item,
    .mod_portfoliolist.portfolio-col3 .item,
    .mod_portfoliolist.portfolio-col4 .item {
        width: 100%;
    }

    .mod_portfoliolist.portfolio-col1 .content,
    .mod_portfoliolist.portfolio-col1 .image_container {
        width: 100%;
        display: block;
    }

    .mod_portfoliolist.portfolio-col1 .image_container:before {
        top: 0;
        left: 50%;
    }
}

