/* =============================================================================
 * ce_pricetable
 * ========================================================================== */

.ce_pricetable {
	padding: 25px 0;
	text-align: center;
}

.ce_pricetable .pricetable {
	background: #fff;
	border: 1px solid rgb(229,229,229);
	margin-top: 20px;
	white-space: normal;
	position: relative;
	overflow: hidden;
}

.ce_pricetable .pricetable {
	margin-top: 15px;
}

.ce_pricetable .pricetable.highlight {
	margin-top: 0;
	box-shadow: 0 0 35px 2px rgba(0,0,0,.2);
	position: relative;
	z-index: 100;
}

.ce_pricetable .pricetable.highlight .title {
	background: var(--accentColor);
	color: #fff;
	box-shadow: inset 0px 0px 0px 6px rgba(0,0,0,0.1);
	padding-top: 40px;
	padding-bottom: 35px;
}

.ce_pricetable .title,
.ce_pricetable .price,
.ce_pricetable .contents li,
.ce_pricetable .rating {
	border-bottom: 1px solid #ebebeb;
	padding: 1em;
}

.ce_pricetable .price {
	padding: 1.5em 1em;
}

.ce_pricetable .contents li:nth-child(odd) {
	background: rgb(251,251,251);
}

.ce_pricetable .title {
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 1.133rem;
	font-weight: normal;
	background: rgb(251,251,251);
	text-align: center;
}

.ce_pricetable .title i {
	margin-right: 0.5rem;
}

.ce_pricetable .price-data {
	font-weight: bold;
}

.ce_pricetable .currency {
	font-weight: bold;
	position: relative;
	top: -1.2rem;
	font-size: 1.2rem;
	line-height: 1.2rem;
}

.ce_pricetable .priceinfo {
	color: rgb(153,153,153);
}

.ce_pricetable .hightlight_text {
	transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	background: rgb(255,255,255);
	font-size: 0.7333rem;
	position: absolute;
	right: -35px;
	top: 20px;
	text-align: center;
	min-width: 130px;
}

.ce_pricetable .ce_hyperlink {
	margin-top: 25px;
	margin-bottom: 10px;
	text-align: center;
}

.ce_pricetable .pricetable.highlight .ce_hyperlink {
	margin-bottom: 25px;
	margin-top: 30px;
}

.ce_pricetable .rating {
	text-align: center;
	color: rgb(254,202,9);
}

.ce_pricetable .rating i {
	margin: 0 3px;
	font-size: 1rem;
}

/* =============================================================================
 * smart phones  (s / small screens)
 * ========================================================================== */
@media only screen and (max-width: 767px) {
	.ce_pricetable {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	.ce_pricetable .currency {
		top: 0;
	}
	
	.ce_pricetable .pricetable {
		margin-bottom: 15px;
	}
}