/* =============================================================================
 * mod_eventlist
 * ========================================================================== */

.mod_eventlist .event {
	margin-bottom: 25px;
}

.mod_eventlist .event h2,
.mod_eventlist .event .h2  {
	font-size: 1.333rem;
}

.mod_eventlist .header {
	background: #f8f8f8;
	padding: 10px;
	margin-bottom: 15px;
	line-height: 1;
	position: static;
}