/* =============================================================================
 * ce_googlemap
 * ========================================================================== */

.google_map {
	height: 430px;
	clear: both;
	width: 100%;
}

/* =============================================================================
* smart phones  (s / small screens)
* ========================================================================== */
@media only screen and (max-width: 767px) {
	.ce_google_map .ce_google_map_inside {
		height: 350px!important;
	}
}