/* =============================================================================
 * ce_text_leader
 * ========================================================================== */

.ce_leadertext.version1 {
	margin-bottom: 60px;
	max-width: 600px;
}

.ce_leadertext.version1 .headline {
	margin-bottom: 0;
}

.ce_leadertext.version1 .divider {
	background: rgb(51,51,51);
	content: '';
	display: block;
	height: 2px;
	margin: 20px 0 20px 0;
	position: relative;
	width: 22px;
}

.ce_leadertext.version1 p {
	font-size: 1.333rem;
}

.ce_leadertext.version1 .subheadline {
	font-size: 1.067rem;
}

.ce_leadertext.version1.align-center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.ce_leadertext.version1.align-center .divider {
	margin-left: auto;
	margin-right: auto;
}

.ce_leadertext.version1.color-white h1:after,
.ce_leadertext.version1.color-white h2:after,
.ce_leadertext.version1.color-white h3:after,
.ce_leadertext.version1.color-white h4:after,
.ce_leadertext.version1.color-white h5:after,
.ce_leadertext.version1.color-white h6:after,
.color-white .ce_leadertext.version1 h1:after,
.color-white .ce_leadertext.version1 h2:after,
.color-white .ce_leadertext.version1 h3:after,
.color-white .ce_leadertext.version1 h4:after,
.color-white .ce_leadertext.version1 h5:after,
.color-white .ce_leadertext.version1 h6:after,
.ce_leadertext.version1.color-white .h1:after,
.ce_leadertext.version1.color-white .h2:after,
.ce_leadertext.version1.color-white .h3:after,
.ce_leadertext.version1.color-white .h4:after,
.ce_leadertext.version1.color-white .h5:after,
.ce_leadertext.version1.color-white .h6:after,
.color-white .ce_leadertext.version1 .h1:after,
.color-white .ce_leadertext.version1 .h2:after,
.color-white .ce_leadertext.version1 .h3:after,
.color-white .ce_leadertext.version1 .h4:after,
.color-white .ce_leadertext.version1 .h5:after,
.color-white .ce_leadertext.version1 .h6:after {
	background: rgb(255,255,255);
}

.color-white .ce_leadertext.version1 .divider {
	background: rgb(255,255,255);
}

/* =============================================================================
 * ce_text_leader_v2
 * ========================================================================== */

.ce_leadertext.version2 {
	margin-bottom: 60px;
	max-width: 600px;
}

.ce_leadertext.version2 .headline {
	margin-bottom: 0;
}

.ce_leadertext.version2 .subheadline {
	font-size: 1.2rem;
}

.ce_leadertext.version2 p {
	font-size: 1.333rem;
}

.ce_leadertext.version2.align-center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.ce_leadertext.version2 .divider {
	margin-bottom: 25px;
	margin-top: 15px;
	text-align: left;
	display: block;
}

.ce_leadertext.version2.align-center .divider {
	text-align: center;
}

.ce_leadertext.version2 .divider-first {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin: 0 3px;
	border: 3px solid var(--accentColor);
	border-radius: 7px;
}

.ce_leadertext.version2 .divider-second {
	background-color: var(--accentColor);
	width: 4px;
	height: 4px;
	margin-top: 2px;
	margin-left: 2px;
	border-radius: 4px;
}

.ce_leadertext.version2 .divider:after,
.ce_leadertext.version2 .divider:before {
	background-color: var(--accentColor);
	display: inline-block !important;
	vertical-align: middle;
	content: "";
	width: 70px;
	height: 1px;
	margin-top: -6px;
}

.color-white .ce_leadertext.version2 .divider:after,
.color-white .ce_leadertext.version2 .divider:before,
.color-white .ce_leadertext.version2 .divider-second {
	background: rgb(255,255,255);
}

.color-white .ce_leadertext.version2 .divider-first {
	border-color: rgb(255,255,255);
}

.ce_leadertext.version1 .subheadline,
.ce_leadertext.version2 .subheadline {
	font-size: 1.467rem;
}

.ce_leadertext.version1 .subheadline {
	font-style: italic;
}

/* =============================================================================
* smart phones  (s / small screens)
* ========================================================================== */
@media only screen and (max-width: 767px) {
	.ce_leadertext.version1,
	.ce_leadertext.version2 {
		margin-bottom: 30px;
	}

	.ce_leadertext p {
		font-size: 1.133rem;
	}
}