/* =============================================================================
 * ce_pricecard
 * ========================================================================== */

.ce_pricecard .ce_pricecard_inside {
	box-shadow: 0 0 4px 2px rgba(108, 108, 108, 0.14);
	padding: 30px 50px;
	background: rgb(255,255,255);
	border-radius: 6px;
	margin: 5px;
	overflow: hidden;
}

.ce_pricecard ul {
	padding-left: 25px;
}

.ce_pricecard li {
	list-style-type: circle;
	list-style-position: outside;
	margin-bottom: 3px;
}

.ce_pricecard .attribute.ce_headline {
	margin-bottom: 0px;
}

.ce_pricecard .price {
	font-size: 1.2rem;
	font-weight: bold;
	margin-bottom: 15px;
}

.ce_pricecard.highlight .ce_pricecard_inside {
	background: rgb(245, 245, 245);
}

.pricecard_leftside,
.pricecard_rightside {
	width: 50%;
	float: left;
}

.swiper-wrapper .ce_pricecard .ce_pricecard_inside {
	margin: 10px;
}

/* =============================================================================
 * ce_pricecard.style2
 * ========================================================================== */

.ce_pricecard.style2 .ce_pricecard_inside {
	background: rgb(245, 245, 245);
	box-shadow: none;
	padding: 75px 50px;
	position: relative;
	margin: 0;
}

.ce_pricecard.style2.highlight .ce_pricecard_inside {
	background: var(--accentColor);
	color: rgb(255,255,255);
}

.ce_pricecard.style2.highlight .ce_headline.headline {
	color: rgb(255,255,255)!important;
}

.ce_pricecard.style2.highlight .ce_hyperlink a {
	background-color: rgb(59, 60, 66);
	border-color: rgb(59, 60, 66);
}

.ce_pricecard.style2.highlight .ce_hyperlink a:hover {
	opacity: 0.7;
}

.ce_pricecard.style2 .price {
	font-size: 4.5rem;
	font-weight: normal;
	line-height: 1;
	margin-top: 10px;
}

.ce_pricecard.style2 .ce_pricecard_inside:after {
	content: '';
	height: 25px;
	width: 25px;
	background: rgb(255,255,255);
	border-radius: 100%;
	z-index: 10;
	position: absolute;
	top: 25px;
	right: 25px;
}

/* =============================================================================
* smart phones  (s / small screens)
* ========================================================================== */
@media only screen and (max-width: 767px) {
	.ce_pricecard .ce_pricecard_inside {
		padding: 20px;
	}
	
	.pricecard_leftside,
	.pricecard_rightside {
		width: 100%;
		float: none;
	}

	.ce_pricecard.style2 .price {
		font-size: 2.5rem;
	}
}