/* =============================================================================
 * submenu_v4
 * ========================================================================== */

.submenu_v4 {
	border: 1px solid rgba(0, 0, 0, 0.075);
	padding: 25px;
	border-radius: 8px;
	background: rgb(255,255,255);
}

.submenu_v4 ul {
	padding-left: 15px;
}

.submenu_v4 li {
	list-style-type: disc;
	list-style-position: outside;
}

.submenu_v4 li a {
	transition: All 0.3s ease;
	-webkit-transition: All 0.3s ease;
	margin-bottom: 3px;
	display: block;
}

.submenu_v4 li a:hover {
	opacity: 0.7;
}

.submenu_v4 li a.active {
	text-decoration: underline;
}