/* =============================================================================
 * custommenu
 * ========================================================================== */

.custommenu {
	overflow: hidden;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	background: rgba(0,0,0,0.6);
	z-index: 1000;
}

.custommenu ul {
	overflow: hidden;
}

.custommenu li {
	float: left;
	width: 25%;
	border-left: 1px solid rgba(255,255,255,0.8);
	text-align: center;
	transition: All 0.6s ease;
	-webkit-transition: All 0.6s ease;
	opacity: 0.9;
}

.custommenu li:hover {
	background-color: var(--accentColor);
}

.custommenu li:last-of-type {
	border-right: 1px solid rgba(255,255,255,0.8);
}

.custommenu li a {
	display: block;
	padding: 10px 20px;
	color: rgb(255,255,255);
	font-weight: bold;
}

.custommenu li span {
	font-weight: normal;
	display: block;
}

.custommenu li.custommenu_cols2 {
	width: 50%;
}

.custommenu li.custommenu_cols3 {
	width: 33%;
}

.custommenu li.custommenu_cols4 {
	width: 25%;
}

.custommenu li.custommenu_cols5 {
	width: 20%;
}

.custommenu li.custommenu_cols6 {
	width: 16.666%;
}

/* =============================================================================
* smart phones  (s / small screens)
* ========================================================================== */
@media only screen and (max-width: 767px) {
	.custommenu {
		bottom: 0px;
		padding: 10px;
	}
	
	.custommenu li {
		float: none;
		width: 100%!important;
		border: 1px solid rgb(255,255,255);
		border-bottom: 0;
	}
	
	.custommenu li:last-of-type {
		border-bottom: 1px solid rgb(255,255,255);
	}
	
	.custommenu li .pagetitle {
		display: none;
	}
}