/* =============================================================================
 * newslist-v5
 * ========================================================================== */

.newslist-v5 {
	margin-bottom: 10%;
}

.newslist-v5 h4,
.newslist-v5 .h4 {
	margin-bottom: 15px;
	padding-right: 140px;
}

.newslist-v5 .subheadline {
	position: relative;
	display: inline-block;
	line-height: 2rem;
	margin-bottom: 10px;
	color: rgb(180,180,180);
	float: right;
}

.newslist-v5 .subheadline:after {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 1px;
	background: rgb(180,180,180);
}

.newslist-v5 .news-date {
	margin-bottom: 10px;
	display: inline-block;
	border-radius: 20px;
	padding: 0px 12px;
	border: 1px solid rgba(0,0,0,0.1);
	font-size: 0.9rem;
}

.newslist-v5 .teaser {
	line-height: 1.8;
}

.newslist-v5 .image_container {
	margin-bottom: 20px;
	transition: All 0.3s ease;
	-webkit-transition: All 0.3s ease;
	border-radius: 20px;
	overflow: hidden;
}

.newslist-v5 .image_container:hover {
	opacity: 0.9;
}

.newslist-v5 .more a {
	position: relative;
	color: rgb(0,0,0);
}

.newslist-v5 .more a:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	height: 1px;
	width: 100%;
	background: rgb(0,0,0);
	transition: All 0.3s ease;
	-webkit-transition: All 0.3s ease;
}

.newslist-v5 .more:hover a:after {
	width: 0;
}

.newslist-v5 .newslist-v5-bottom {
	border-top: 1px solid rgb(227,222,221);
	padding: 15px 0;
	margin-top: 25px;
	font-size: 0.9rem;
	overflow: hidden;
	line-height: 0.9rem;
	display: flex;
}

.newslist-v5 .newslist-v5-bottom .comments {
	margin-left: auto;
}

.newslist-v5 .newslist-v5-bottom .comments:before {
	font-family: FontAwesome;
	content: "\f075";
	margin-right: 5px;
}

.mod_newslist.newslist_col2 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 35px;
}

.mod_newslist.newslist_col2 .pagination {
	grid-column: span 2;
}

.mod_newslist.newslist_col3 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 35px;
}

.mod_newslist.newslist_col3 .pagination {
	grid-column: span 2;
}

/* =============================================================================
* smart phones  (s / small screens)
* ========================================================================== */
@media only screen and (max-width: 767px) {

	.mod_newslist.newslist_col2,
	.mod_newslist.newslist_col3 {
		display: block;
	}
	
	.newslist {
		margin-bottom: 0;
	}

}