/* =============================================================================
 * news_newsteaser_v6
 * ========================================================================== */

.mod_newsteaser_v6 .item-inside {
	background-position: center center;
	background-size: cover;
	height: 100vh;
	position: relative;
}

.mod_newsteaser_v6 .item-inside:after {
	background: rgba(0,0,0,0.3);
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}

.mod_newsteaser_v6 .content {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
	color: rgb(255,255,255);
	z-index: 10;
}

.mod_newsteaser_v6 .content,
.mod_newsteaser_v6 .content a,
.mod_newsteaser_v6 .content .title {
	color: rgb(255,255,255);
}

.mod_newsteaser_v6 .subline {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.2rem;
	display: none;
}

.mod_newsteaser_v6 .teaser {
	margin-top: 30px;
	max-width: 650px;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.2rem;
}

.mod_newsteaser_v6 .info {
	position: absolute;
	bottom: 50px;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	left: 50%;
	padding: 20px;
	border-top: 1px solid rgba(255,255,255,0.3);
	z-index: 10;
}

.mod_newsteaser_v6 .info,
.mod_newsteaser_v6 .info a {
	color: rgb(255,255,255);
	font-size: 0.75rem;
	text-transform: uppercase;
}

.mod_newsteaser_v6 .author {
	display: inline-block;
	margin-right: 25px;
}

.mod_newsteaser_v6 .author:before {
	font-family:FontAwesome;
	content: "\f007";
	margin-right: 5px;
}

.mod_newsteaser_v6 time {
	display: inline-block;
	margin-right: 25px;
}

.mod_newsteaser_v6 time:before {
	font-family:FontAwesome;
	content: "\f017";
	margin-right: 5px;
}

.mod_newsteaser_v6 .comments {
	display: inline-block;
}

.mod_newsteaser_v6 .comments:before {
	font-family:FontAwesome;
	content: "\f0e5";
	margin-right: 5px;
}

.mod_newsteaser_v6 .swiper-button-next,
.mod_newsteaser_v6 .swiper-button-prev {
	margin-top: -45px;
}

/* =============================================================================
* smart phones  (s / small screens)
* ========================================================================== */
@media only screen and (max-width: 767px) {
    .mod_newsteaser_v6 .content {
        padding: 20px;
    }
    
    .mod_newsteaser_v6 .teaser {
        display: none;
    }
    
    .mod_newsteaser_v6 .info {
        width: 100%;
        bottom: 20px;
        left: 0;
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}